USE [ApliCom]
GO
/****** Object:  Table [dbo].[tblTIPOPESSOA]    Script Date: 08/11/2013 13:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTIPOPESSOA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](60) NOT NULL,
 CONSTRAINT [PK_tblTIPOPESSOA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTIPOENDERECO]    Script Date: 08/11/2013 13:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTIPOENDERECO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](60) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPESSOA]    Script Date: 08/11/2013 13:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPESSOA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[NOME] [varchar](45) NULL,
	[FONE] [varchar](14) NULL,
	[FAX] [varchar](14) NULL,
	[CELULAR] [varchar](14) NULL,
	[EMAIL] [varchar](35) NULL,
	[IDRAMO] [varchar](20) NOT NULL,
	[CONTATO] [varchar](25) NULL,
	[IDTIPOPESSOA] [int] NOT NULL,
	[IDPERFIL] [int] NOT NULL,
	[CGC] [varchar](19) NULL,
	[RAZAOSOCIAL] [varchar](45) NULL,
	[IE] [varchar](19) NULL,
	[IM] [varchar](19) NULL,
	[LIMITE] [float] NULL,
	[DATAANIVERSARIO] [datetime] NULL,
	[BLOQUEIO] [smallint] NULL,
	[BLOQUEIOINFORAMCAO] [varchar](50) NULL,
	[DATABLOQUEIO] [datetime] NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_tblPESSOA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPESSOAENDERECO]    Script Date: 08/11/2013 13:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPESSOAENDERECO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPESSOA] [int] NOT NULL,
	[IDTIPOENDERECO] [int] NOT NULL,
	[LOGRADOURO] [varchar](3) NULL,
	[ENDERECO] [varchar](150) NULL,
	[NUMERO] [varchar](5) NULL,
	[COMPLEMENTO] [varchar](150) NULL,
	[BAIRRO] [varchar](60) NULL,
	[CIDADE] [varchar](60) NULL,
	[UF] [varchar](2) NULL,
	[CEP] [varchar](9) NULL,
 CONSTRAINT [PK_tblPESSOAENDERECO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_tblPESSOA_tblTIPOPESSOA]    Script Date: 08/11/2013 13:10:39 ******/
ALTER TABLE [dbo].[tblPESSOA]  WITH CHECK ADD  CONSTRAINT [FK_tblPESSOA_tblTIPOPESSOA] FOREIGN KEY([IDTIPOPESSOA])
REFERENCES [dbo].[tblTIPOPESSOA] ([ID])
GO
ALTER TABLE [dbo].[tblPESSOA] CHECK CONSTRAINT [FK_tblPESSOA_tblTIPOPESSOA]
GO
/****** Object:  ForeignKey [FK_tblPESSOAENDERECO_tblPESSOA]    Script Date: 08/11/2013 13:10:39 ******/
ALTER TABLE [dbo].[tblPESSOAENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_tblPESSOAENDERECO_tblPESSOA] FOREIGN KEY([IDPESSOA])
REFERENCES [dbo].[tblPESSOA] ([ID])
GO
ALTER TABLE [dbo].[tblPESSOAENDERECO] CHECK CONSTRAINT [FK_tblPESSOAENDERECO_tblPESSOA]
GO
