<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="strcnx" connectionString="Persist security info=true;Initial Catalog=ApliCom;Data Source=localhost\DELL-PC;User ID=sa;password=wba1234;" providerName="System.SqlClient"/>
  </connectionStrings>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup>
</configuration>
